html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 4px;
}

h1 {
  background-color: rgba(50, 115, 220, 0.3);
}

footer{

  background-color: rgba(50, 115, 220, 0.3);

  position:absolute;
  margin: 0;
  bottom:0;

  width:100%;

  padding-top:50px;

  height:70px;

}

.menunav {
  margin-bottom: 30%;
}
