<div *ngIf="!hidden" class="container border border-dark mt-3">
  <div class="row">
  <div class="col-6 border border p-2">Date et heure : {{ data.resultsPage.results.event.0.start.date }}</div>
  <div class="col p-2">Artistes : {{"Données..."}}</div>
  </div>
  <div class="row">
    <div class="col-3 border border p-2 pt-3 pb-3">Ville : {{"Données..."}}</div>
    <div class="col-3 border border p-2 pt-3 pb-3">Lieu : {{"Données..."}}</div>
    <div class="col">
      <div class="float-right pt-3">
        <button (click)="toggleDisplay()" *ngIf="!hidden">+</button></div>
    </div>
  </div>
</div>
<div *ngIf="hidden" class="container border border-dark mt-3">
  <div class="row">
    <div class="col-4 border border p-2">Date et heure : {{"Données..."}}</div>
    <div class="col border border p-2">Artistes : {{"Données..."}}</div>
  </div>
  <div class="row">
    <div class="col-4 border border p-2 pt-3 pb-3">Ville : {{"Données..."}}</div>
    <div class="col border border p-2 pt-3 pb-3">Descritption de l'événements : {{"Données..."}}</div>
  </div>
  <div class="row">
    <div class="col-4 border border p-2 pt-3 pb-3">Adresse : {{"Données..."}}</div>
    <div class="col border border p-2 pt-3 pb-3">Vidéo Youtube : {{"Données..."}}
      <div class="float-right pt-3">
        <input type="text" placeholder="Argent €">
        <button (click)="toggleDisplay()" *ngIf="hidden">-</button>
      </div>
    </div>
  </div>
</div>
