@import "~leaflet/dist/leaflet.css";

.map-wrapper {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 200px;
  margin-left: 200px;
}

.map-border {
  border: 1px solid black;
  height: 50%;

}

#map {
  height: 100%;
}


